*{
    box-sizing: border-box;
    margin:0;
    padding:0; 

}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family:'Courier New', Courier, monospace;
    color: #59a9e6;
    text-align: center;
}
.description{
    font-family: Arial, sans-serif,'Times New Roman', Times, serif;
    text-align: center;
    /* align-items: center; */

}
.container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
   
}
.item {
    flex-wrap:wrap;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9e7c46;
    border-color: black ;
    border: 2px solid;
    border-radius: 10px;   
    gap:10px;
   padding: 30px;
   margin: 30px;
   cursor:grab;
}
.item:hover{
    background-color: #a3d31f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(196, 16, 16, 0.5);
}
